#if len($summary) > 0
#summary $summary
#end if
#if len($labels) > 0
#labels #for $l in $labels #$l #end for #
#end if

|| [${prefix}_groups Group List] || [${prefix}_globals Globals] ||

Here is a list of all groups with brief descriptions:
#for $g in $groups
|| [${prefix}_$g.id $g.name] || $descriptions.get($g.id, "") ||
#end for
