#if len($summary) > 0
#summary $summary
#end if
#if len($labels) > 0
#labels #for $l in $labels #$l #end for #
#end if
#sidebar ${prefix}_toc

Here is a list of all groups with brief descriptions:
#for $g in $groups
#set $str = ""
#for $level in $range($g.level) * 2
#set $str += " "
#end for
$str  * [${prefix}_$g.id $g.name] $descriptions.get($g.id, "")'
#end for
