  * [${prefix} Main Page]
#if len($groups) > 0
  * [${prefix}Groups Modules]
#for $g in $groups
#set $str = ""
#for $level in $range($g.level) * 2
#set $str += " "
#end for
$str    * [$g.page $g.name] $groups_descriptions.get($g.id, "")
#end for

#end if
